<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Binaries="$(var.SolutionDir)$(var.Platform)\$(var.Configuration)\" ?>
  <?define Version="1.0.0.0"?>

  <?if $(var.Platform)=x64 ?>
  <?define Win64YesNo="yes" ?>
  <?define UpgradeCode = "{4CD29B69-21DF-4838-B8B9-934E65D39BBD}" ?>
  <?define cf="ProgramFiles64Folder" ?>
  <?else ?>
  <?define Win64YesNo="no" ?>
  <?define UpgradeCode = "{1D108A37-3C86-4db8-92DE-B6C3308287B3}" ?>
  <?define cf="ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="*"
           Name="Visio Macro Tab Addin  $(var.Version) ($(var.Platform))"
           Language="1033"
           Codepage="1252"
           Version="$(var.Version)"
           Manufacturer="Unmanaged Visio"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallPrivileges="elevated"
             InstallScope="perMachine"
             Platform="$(var.Platform)"
             />

    <Property Id="MSIFASTINSTALL">7</Property>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.cf)">
        <Directory Id="COMPANYDIR" Name="UnmanagedVisio" >
          <Directory Id="INSTALLLOCATION" Name="VisioMacroTabAddin">

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="VisioMacroTabAddin" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />

  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLLOCATION">
      <Component Id="Scintlla" Win64="$(var.Win64YesNo)">
        <File Source="$(var.Binaries)SciLexer.dll" />
      </Component>

      <Component Id="htmlayout" Win64="$(var.Win64YesNo)">
        <File Source="$(var.Binaries)htmlayout.dll" />
      </Component>

      <Component Id="Addin" Win64="$(var.Win64YesNo)">

        <File Source="$(var.Binaries)Addin.dll" >
          <TypeLib Id="{2445B4EC-CD68-4a61-B695-4ED95A69FB9D}" Language="0" MajorVersion="1" MinorVersion="0">
            <Class Id="{D62269B9-72CD-4ae9-BD41-B803A832B6F9}" Context="InprocServer32" ThreadingModel="apartment">
              <ProgId Id="VisioMacroTabAddin.Connect.1" Description="VisioMacroTabAddin">
                <ProgId Id="VisioMacroTabAddin.Connect" Description="VisioMacroTabAddin" />
              </ProgId>
            </Class>
            <Interface Id="{76973C5D-E651-4f97-A90F-613AAC31933B}" Name="IConnect" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
          </TypeLib>
        </File>
      </Component>

      <Component Id="visioRegistration" Guid="{6C2BBC2F-81D8-46e9-8219-EB7DFE6383A8}">
        <RegistryKey Root="HKMU" Key="Software\Microsoft\Visio\Addins\VisioMacroTabAddin.Connect">
          <RegistryValue Name="Description" Type="string" Value="DiagramsTab" />
          <RegistryValue Name="FriendlyName" Type="string" Value="DiagramsTab" KeyPath="yes" />
          <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        </RegistryKey>
      </Component>

    </ComponentGroup>
  </Fragment>
  
</Wix>
